header
{
	height: 8rem;
	width: 100%;
	background: url("../D_IMG/index.jpg");
	background-repeat:no-repeat;
    background-size: 100% auto;
	border-bottom: 1px solid #1f4e5f;
}

@media only screen and (max-width: 768px)
{
  /* For mobile phones: */
  #page
  {
	  font-size: 0.5rem;
  }
}