*
{
	margin: 0;
	padding: 0;
	font-size: 1rem;
}

body
{
	background-color: #f4f7ff;
}

#navheader ul
{
    list-style-type: none;
	overflow: hidden;
    background-color: rgba(31,78,95, 0.8);
	position: fixed;
    top: 0;
    width: 100%;
	transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
}

#navheader:hover ul
{
	background-color: rgba(31,78,95, 1);
	transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}

#navheader ul li
{
    float: left;
}

#navheader ul li a
{
    display: block;
	border-right: 1px solid #f4f7f7;
    color: white;
    text-align: center;
    padding: 0.75rem 1.6rem;
    text-decoration: none;
	transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
}

#navheader ul li a:hover
{
    background-color: #111;
}

#navheader:hover ul li a
{
	padding: 1.2rem 1.6rem;
	transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}

#navheader ul li p
{
	display: block;
    color: white;
    text-align: center;
    padding: 0.75rem 4rem;
    text-decoration: none;
	transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
}

#navheader ul li h1
{
	display: block;
    color: white;
    text-align: center;
    padding: 0.75rem 4rem;
    text-decoration: none;
	transition: all 1000ms ease;
  -webkit-transition: all 1000ms ease;
}

#navheader:hover #pagename
{
	padding: 1.2rem 1.6rem;
	transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
}

#sitefooter
{
	width: 100%;
	border-top: 1px solid grey;
	position: fixed;
    bottom: 0;
}

#sitefootertext
{
	display: block;
	color: black;
	text-align: center;
    padding: 0.75rem 0rem;
	text-decoration: none;
}

#page
{
	margin: 1% 10% 5% 10%;
	padding: 3%;
	border: 1px #aacfd0 outset;
	box-shadow: 6px 6px 6px #aacfd0;
}

#page p
{
	font-size: 1em;
}