/*Codes couleurs hex : blanc page #f9fbfc, bleu fond #203961, vert #a2cdb8, rouge #e1755e, gris bandeau#5d554b.*/

*
{
	margin: 0;
	padding: 0;
	font: 1rem 'Fira Sans', sans-serif;
	color: black;
	text-decoration: none;
	list-style-type: none;
	font-weight : normal;
	overflow: auto;
}

body
{
	background-color: #203961;
	min-width: 1000px;
}

header
{
	box-shadow: 0px 10px 10px #151f1e;
	margin-bottom: 30px;
	height: 9rem;
	width: 100%;
}

#navheader ul
{
	overflow: hidden;
	position: fixed;
    top: 0;
    width: 100%;
	background-color: rgba(93, 85, 75, 0.75);
	box-shadow: 0px 10px 10px rgba(21, 31, 30, 0.75);
	min-width: 1000px;
}


#navheader:hover ul
{
	background-color: rgba(93, 85, 75, 1);
	box-shadow: 0px 10px 10px rgba(21, 31, 30, 1);
}



#navheader ul li
{
    float: left;
}

#navheader ul li a
{
    display: block;
	border-right: 1px solid #f4f7f7;
    color: white;
    text-align: center;
    padding: 1rem 1.6rem;

}

#navheader ul li a:hover
{
    background-color: #111;
}



#navheader ul li p
{
	display: block;
    color: white;
    text-align: center;
    padding: 1rem 4rem;

}

#navheader ul li h1
{
	display: block;
    color: white;
    text-align: center;
    padding: 1rem 4rem;

}

#navheader input,button 
{
    margin: 0.6rem 2rem 0.6rem 0rem;
	padding: 0.2rem 1rem;
}

#pagename
{
	font-weight : bold;
}


#sitefooter
{
	width: 100%;
	border-top: 1px solid gray;
	position: fixed;
    bottom: 0;
	background-color: rgba(200,200,200, 0.7);
}

#sitefootertext
{
	display: block;
	text-align: center;
    padding: 0.6rem 0rem;
	font-size: 0.8rem;
}

#page
{
	margin: 1% 10% 6% 10%;
	padding: 1.6rem;
	border: 1px #151f1e outset;
	box-shadow: 10px 10px 10px #151f1e;
	background-color: #f9fbfc;
}

@media screen and (max-width: 1000px) {
  #page{
	  margin: 1% 1% 6% 1%;
  }
}
