*
{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: black;
	text-decoration: none;
	list-style-type: none;
	font-weight : normal;
	overflow: auto;
}

body
{
	background-color: #3d4e17;
	min-width: 1000px;
}

header
{
	box-shadow: 0px 10px 10px #151f1e;
	margin-bottom: 30px;
}

#navheader ul
{
	overflow: hidden;
	position: fixed;
    top: 0;
    width: 100%;
	background-color: rgba(199,160,3, 0.8);
}


#navheader:hover ul
{
	background-color: rgba(199,160,3, 1);
}



#navheader ul li
{
    float: left;
}

#navheader ul li a
{
    display: block;
	border-right: 1px solid #f4f7f7;
    color: white;
    text-align: center;
    padding: 1rem 1.6rem;

}

#navheader ul li a:hover
{
    background-color: #111;
}



#navheader ul li p
{
	display: block;
    color: white;
    text-align: center;
    padding: 1rem 4rem;

}

#navheader ul li h1
{
	display: block;
    color: white;
    text-align: center;
    padding: 1rem 4rem;

}

#pagename
{
	font-weight : bold;
}


#sitefooter
{
	width: 100%;
	border-top: 1px solid gray;
	position: fixed;
    bottom: 0;
	background-color: rgba(200,200,200, 0.7);
}

#sitefootertext
{
	display: block;
	text-align: center;
    padding: 0.75rem 0rem;
}

#page
{
	margin: 1% 10% 6% 10%;
	padding: 1.6rem;
	border: 1px #151f1e outset;
	box-shadow: 10px 10px 10px #151f1e;
	background-color: #FCFFFF;
}

@media screen and (max-width: 1000px) {
  #page{
	  margin: 1% 1% 6% 1%;
  }
}
